<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   <mapper namespace="com.liyingying.mapper.GoodsMapper">
   
   		<select id="queryGoodsAll" parameterType="map" resultType="com.liyingying.beans.Goods">
   			select * from goods g,category c where g.cid = c.cid
   			<if test="gname!=null and gname!=''">
   				AND g.gname like concat('%',#{gname},'%') 
   			</if>
   			
   			<if test="startTime != null and startTime != ''">
   				AND g.gtime >= #{startTime} 
   			</if>
   			
   			<if test="endTime!=null and endTime!=''">
   				AND g.gtime &lt;= #{endTime}
   			</if>
   			
   			<if test="cid != null">
				AND g.cid =#{cid}
			</if>
   		</select>
   		<select id="queryCategory" resultType="com.liyingying.beans.Category">
   			select * from category
   		</select>
   		<insert id="addGoods" parameterType="com.liyingying.beans.Goods">
   			insert into goods(gname,gtime,cid) values(#{gname},#{gtime},${cid})
   		</insert>
   		<select id="queryGoodsById" parameterType="int" resultType="com.liyingying.beans.Goods">
   			select * from goods where gid=#{0}
   		</select>
   		<update id="updateGoods" parameterType="com.liyingying.beans.Goods">
   			update goods set gname=#{gname},gtime=#{gtime},cid=#{cid} where gid=#{gid}
   		</update>
   </mapper>